<div class="now-playing">
  <div class="player-art bg-pastel-3"></div>
  <div class="player-track-info">
    <span class="title-sm">Structured Serenity</span>
    <span class="label-caps">Noyza Architecture</span>
  </div>
</div>
<div class="player-controls">
  <div class="control-buttons ghost-container">
    <button class="btn-icon">
      <div class="icon" style="-webkit-mask-image: url('/icons/skip-back.svg'); mask-image: url('/icons/skip-back.svg');"></div>
    </button>
    <button class="btn-primary play-btn">
      <div class="icon icon-primary" style="-webkit-mask-image: url('/icons/play.svg'); mask-image: url('/icons/play.svg');"></div>
    </button>
    <button class="btn-icon">
      <div class="icon" style="-webkit-mask-image: url('/icons/skip-fwd.svg'); mask-image: url('/icons/skip-fwd.svg');"></div>
    </button>
  </div>
  <div class="progress-container">
    <span class="label-caps time-text">01:24</span>
    <div class="progress-bar">
      <div class="progress-fill"></div>
    </div>
    <span class="label-caps time-text">03:45</span>
  </div>
</div>
<div class="player-actions">
  <div class="volume-container ghost-container">
    <div class="icon" style="-webkit-mask-image: url('/icons/volume.svg'); mask-image: url('/icons/volume.svg');"></div>
    <div class="progress-bar volume-bar">
      <div class="progress-fill" style="width: 70%"></div>
    </div>
  </div>
</div>
