<div class="player-inner">
  <div class="player-top-row">
    <button class="btn-icon" id="btn-open">
      <img src="/assets/images/player/Open.svg" alt="Open">
    </button>
    <button class="btn-icon" id="btn-prev">
      <img src="/assets/images/player/Previous.svg" alt="Previous">
    </button>
    <button class="btn-icon" id="btn-play-pause">
      <img src="/assets/images/player/Play.svg" alt="Play" id="icon-play">
    </button>
    <button class="btn-icon" id="btn-next">
      <img src="/assets/images/player/Next.svg" alt="Next">
    </button>
    <button class="btn-icon" id="btn-shuffle">
      <img src="/assets/images/player/Shuffle.svg" alt="Shuffle">
    </button>
    
    <div class="player-title-display">
      <span id="player-title">[ N O N E ]</span>
    </div>

    <button class="btn-icon" id="btn-playlist">
      <img src="/assets/images/player/Playlist.svg" alt="Playlist">
    </button>

    <div class="volume-slider-container">
      <div class="volume-track" id="volume-track">
        <div class="volume-fill" id="volume-fill"></div>
        <img src="/assets/images/player/Thumb.svg" class="volume-thumb" id="volume-thumb" alt="Thumb">
      </div>
    </div>
  </div>
  
  <div class="player-bottom-row">
    <div class="progress-track" id="progress-track">
      <div class="progress-fill" id="progress-fill"></div>
      <img src="/assets/images/player/Thumb.svg" class="progress-thumb" id="progress-thumb" alt="Thumb">
    </div>
  </div>
</div>
<audio id="audio-element"></audio>
