<div class="player-inner">
  <div class="player-top-row">
    <button class="player-art-btn" id="btn-open" title="Open Track">
      <img src="" alt="Cover" id="player-art" style="display: none;">
    </button>
    <button class="btn-icon" id="btn-prev">
      <img src="/assets/images/player/Previous.svg" alt="Previous">
    </button>
    <button class="btn-icon" id="btn-play-pause">
      <img src="/assets/images/player/Play.svg" alt="Play" id="icon-play">
    </button>
    <button class="btn-icon" id="btn-next">
      <img src="/assets/images/player/Next.svg" alt="Next">
    </button>
    <button class="btn-icon" id="btn-shuffle">
      <img src="/assets/images/player/Shuffle.svg" alt="Shuffle" id="icon-shuffle">
    </button>
    
    <div class="player-title-display">
      <span id="player-title"></span>
    </div>

    <button class="btn-icon" id="btn-playlist">
      <img src="/assets/images/player/Playlist.svg" alt="Playlist">
    </button>

    <div class="volume-slider-container">
      <div class="volume-track" id="volume-track">
        <div class="volume-fill" id="volume-fill"></div>
        <img src="/assets/images/player/Thumb.svg" class="volume-thumb" id="volume-thumb" alt="Thumb">
      </div>
    </div>
  </div>
  
  <div class="player-bottom-row">
    <div class="progress-track" id="progress-track">
      <div class="download-fill" id="download-fill"></div>
      <div class="progress-fill" id="progress-fill"></div>
      <img src="/assets/images/player/Thumb.svg" class="progress-thumb" id="progress-thumb" alt="Thumb">
    </div>
  </div>
</div>

<div id="autoplay-menu" class="context-menu hidden">
  <div class="menu-item" data-mode="shuffle">
    <img src="/assets/images/player/Shuffle.svg" alt="Shuffle"> Shuffle
  </div>
  <div class="menu-item" data-mode="repeat">
    <img src="/assets/images/player/Repeat.svg" alt="Repeat All"> Repeat All
  </div>
  <div class="menu-item" data-mode="loop1">
    <img src="/assets/images/player/Loop1.svg" alt="Repeat 1"> Repeat 1
  </div>
  <div class="menu-item" data-mode="noautoplay">
    <img src="/assets/images/player/NoAutoplay.svg" alt="No Autoplay"> No Autoplay
  </div>
</div>

<div id="queue-panel" class="queue-panel hidden">
  <div class="queue-header">
    <span class="title-sm">Playing Queue</span>
  </div>
  <div class="queue-list" id="queue-list"></div>
</div>

<audio id="audio-element"></audio>
