<div class="brand">
  <span class="display-lg-mobile">Noyza</span>
</div>
<nav class="nav-menu">
  <a href="#" class="nav-link active">
    <div class="icon" style="-webkit-mask-image: url('/icons/home.svg'); mask-image: url('/icons/home.svg');"></div>
    <span class="title-sm">Home</span>
  </a>
  <a href="#" class="nav-link">
    <div class="icon" style="-webkit-mask-image: url('/icons/search.svg'); mask-image: url('/icons/search.svg');"></div>
    <span class="title-sm">Discover</span>
  </a>
  <a href="#" class="nav-link">
    <div class="icon" style="-webkit-mask-image: url('/icons/library.svg'); mask-image: url('/icons/library.svg');"></div>
    <span class="title-sm">Library</span>
  </a>
</nav>
<div class="playlist-tags">
  <span class="label-caps section-label">Your Moods</span>
  <div class="chip bg-pastel-1">Focus</div>
  <div class="chip bg-pastel-2">Relax</div>
  <div class="chip bg-pastel-3">Energy</div>
</div>
