<div class="brand">
  <span class="display-lg-mobile">Noyza</span>
</div>
<nav class="nav-menu">
  <a href="/index.html" class="nav-link" id="nav-home">
    <div class="icon" style="-webkit-mask-image: url('/assets/images/player/Playlist.svg'); mask-image: url('/assets/images/player/Playlist.svg');"></div>
    <span class="title-sm">Home</span>
  </a>
  <a href="#" class="nav-link">
    <div class="icon" style="-webkit-mask-image: url('/assets/images/player/Open.svg'); mask-image: url('/assets/images/player/Open.svg');"></div>
    <span class="title-sm">Discover</span>
  </a>
  <a href="/settings.html" class="nav-link" id="nav-settings">
    <div class="icon" style="-webkit-mask-image: url('/assets/images/player/Loader.svg'); mask-image: url('/assets/images/player/Loader.svg');"></div>
    <span class="title-sm">Settings</span>
  </a>
</nav>
