<div class="brand">
  <span class="display-lg-mobile">Noyza</span>
</div>
<nav class="nav-menu">
  <a href="/index.html" class="nav-link" id="nav-home">
    <span class="title-sm">Home</span>
  </a>
  <a href="/search.html" class="nav-link" id="nav-discover">
    <span class="title-sm">Discover</span>
  </a>
  <a href="/downloads.html" class="nav-link" id="nav-downloads">
    <span class="title-sm">Downloads</span>
  </a>
  <a href="/settings.html" class="nav-link" id="nav-settings">
    <span class="title-sm">Settings</span>
  </a>
</nav>
